<!DOCTYPE html>
<html>

<head>
    <title>So You Think You Can Cater</title>
</head>

<body>
    <form action="" method="post">
        <h1>Existing User Login</h1>
        <!-- Role:   <input type = "button" value = "Owner"/><input type = "button" value = "Staff"><br/><br/> -->
        Role:
        <input type="text" name="role" />
        <br/>
        <br/> Username:
        <input type="text" name="user">
        <br/>
        <br/> Password:
        <input type="text" name="pass">
        <br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
    <form method="post">
        <h1>New Customer Registration</h1>
        Username:
        <input type="text" name="username">
        <br/>
        <br/> Password:
        <input type="text" name="password">
        <br/>
        <br/>
        <input type="button" value="Submit">
    </form>
</body>

</html>