{% extends "base.html" %}
{% block body %}
    <form action="{{ url_for('login') }}" method="post">
        <h1>Existing User Login</h1>
        <br/> Username:
        <input type="text" name="user">
        <br/>
        <br/> Password:
        <input type="text" name="pass">
        <br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
    <form action = "{{ url_for('customer') }}" method="post">
        <h1>New Customer Registration</h1>
        Username:
        <input type="text" name="username">
        <br/>
        <br/> Password:
        <input type="text" name="password">
        <br/>
        <br/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}