{% extends "base.html" %}
{% block body %}
<div>
    <h1>Events Currently Scheduled:</h1>
    {% for event in events %}
        {{ event.title }}<br/>
    {% else %}
        No events scheduled</br/>
    {% endfor %}
    <h1>Staff Currently Scheduled:</h1>
    {% for staff in staff_members %}
        {{ staff.username }}<br/>
    {% else %}
        No staff scheduled</br/>
    {% endfor %}
</div>

<div>
    <h1>Create new staff account 
        <a href= "{{ url_for('create_staff') }}" action= "{{ url_for('create_staff') }}" method = "POST">here</a>:</h1>
</div>
{% endblock %}
