{% extends "base.html" %}
{% block body %}
<div>
    <h1>Events Currently Scheduled:</h1>
    {% for event in events %}
        <h2>{{ event.title }} ({{ event.date}}):</h2>
        <h3>Staff working the event:</h3>
        {% for staff in event.staffMembers %}
            {{ staff.username}}<br/>
        {% endfor %}<br/>
    {% else %}
        No events scheduled</br/>
    {% endfor %}
</div>

<div>
    <h1>Create new staff account 
        <a href= "{{ url_for('create_staff') }}" action= "{{ url_for('create_staff') }}" method = "POST">here.</a></h1>
</div>
{% endblock %}
