{% extends "base.html" %}
{% block body %}
<div>
    <h1>Events you are signed up for:</h1>
        {% for e in events_signedup %}
            <h3>-{{e.title}} ({{e.date}})</h3>
        {% endfor %}
    <h1>Events you can sign up for:</h1>
        {% for e in events_available %}
        <form action = "" method = "POST">
        <input type = "radio" name ="event"value = "{{e.title}}">  {{e.title}} ({{e.date}})<br/>
        {% endfor %}<br/>
        <input type = "submit" value = "Submit">
        </form>
</div>
{% endblock %}